body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.banner{
    background-image: url(img/banner.png);
    background-size: cover;
    color: white;
    border-top: 10px solid rgb(83, 198, 94);

    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 350px;
}

.banner > div{
    width: 400px;
}

.banner h1{
    font-family: 'Pacifico';
    font-size: 48px;
    position: relative;
    margin-top: 0;
}

.banner h1 span{
    width: 10px;
    height: 10px;
    display: block;
    background-color: rgb(83, 198, 94);
    border-radius: 100%;
    position: absolute;
    top: 44px;
    left: 135px;
}

.banner p{
    font-size: 20px;
}

.banner > img{
    width: 250px;
    align-self: flex-end;
    display: none;
}

.banner .icones button:hover{
    background-color: rgb(83, 198, 94);
}
.icones{
    width: 100%;
}

.banner .icones button{
    border-style: none;
    width: 15%;
    padding: 10px;  
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
}
.banner .icones button img{
    width: 30px;
}

@media(min-width: 768px){
    .banner{
        height: 38vw;
        padding: 0 100px;
    }

    .banner > img{
        display: block;
    }

}

@media(min-width: 1024px){
    .banner{
        height: 38vw;
        padding: 0 200px;
    }

    .banner > img{
        width: 350px;
        display: block;
    }
}

.meio{
    margin-top: auto;
    padding: 0 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.meio img{
    width: 45px;
    padding: 20px;
    background-color: rgb(83, 198, 94);
    border-radius: 50%;
    align-items: center;
}

.meio div{
    display: flex;
    padding: 35px;
    width: 250px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.meio h2{
    font-size: 17px;
}
.meio p{
    color: gray;
    font-size: 12px;
    
}
.busca{
    background-color:#f1ecec;
}
.busca {
    margin-top: auto;
    padding: 0 100px;
    display: flex;

}
.busca div{
    margin-top: 40px;
    padding: 0;
    width: 50%;
}

.busca p{
    color: gray;
}

input{
    border: 0;
    padding: 0;
    height: 40px;
    width: 250px;
    border-radius: 15px 0 0 15px;
    font-size: 15px;
    color: gray;    
}

button{
    margin: 0;
    border: 0;
    height: 40px;
    width: 100px;
    border-radius: 0 15px 15px 0;
    margin-left: -15px;
    background-color: rgb(83, 198, 94);
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
}
iframe{
    border-radius: 15px;
}